<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="31">

        <activity

            android:name=".LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CrudProducts"
            android:exported="false" />
        <activity
            android:name=".NewPassword"
            android:exported="false" />

        <activity
            android:name=".passwordResetActivity"
            android:exported="false" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false"/>
        <activity
            android:name=".MenuSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".ClientActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentMethodActivity"
            android:exported="false" />

        <activity
            android:name=".MenuScroll"
            android:exported="false" />
        <activity
            android:name=".EstimatedtimeActivity"
            android:exported="false" />
        <activity
            android:name=".OrderConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".ToConfirmOrderActivity"
            android:exported="false" />
        <activity
            android:name=".SpecialOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".greetingsActivity"
            android:exported="false" />
        <activity
            android:name=".CommentActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".waiterActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false">

        </activity>
    </application>

</manifest>